$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
$heading-font: 'Big Shoulders Display', cursive;
$paragraph-font: 'Lexend Deca', sans-serif;

@mixin wrapperProperty($prop1, $prop2, $prop3) {
    background-color: $prop1;
    width: $prop2;
    padding: $prop3;
}

@mixin textProperty($prop1, $prop2, $prop3, $prop4) {
    font-size: $prop1;
    font-family: $prop2;
    font-weight: $prop3;
    color: $prop4;
}

@mixin buttonProperty($prop1, $prop2, $prop3, $prop4, $prop5, $prop6, $prop7, $prop8) {
    background-color: $prop1;
    border: $prop2;
    color: $prop3;
    text-align: $prop4;
    text-decoration: $prop5;
    font-size: $prop6;
    border-radius: $prop7;
    padding: $prop8;
}

@mixin buttonHover($prop1, $prop2, $prop3) {
    background-color: $prop1;
    color: $prop2;
    cursor: $prop3;
}